* Este es el menu * 

nav {
    background-color: black;
    color: white;
}
.menu{
    display: flex;
    align-items: center;
}

.menu li{
    width: 60%;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
    flex-wrap: wrap;
}

.logo img {
    width:60%;
    /*Arriba Derecha Abajo Izquierda*/
    /*Top Right Bottom Left*/
    padding: 2% 4% 2% 10%;
}

.menu a:hover {
    background-color: white;

    color: black;
    border: 5px white solid;
    border-radius: 5px;
}